body,html,ul,li,div,p,dl,li{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    outline: none;
    border:none;
}
input{
    outline: none;
}
img{
    width:100%;
}
//全局分页样式
.el-pagination{
    margin-top: 50px;
    text-align: center;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background:rgba(187, 17, 26);
}
.el-pagination.is-background .el-pager li:not(.disabled):hover,
.el-pagination.is-background .btn-next, 
.el-pagination.is-background .btn-prev{
    color:rgba(187, 17, 26);
}